<div id="place_left_div" >
    <h5>{{name}}</h5>

    <a href="/place/{{id}}" >Page d'accueil</a>
    <a href="/place/{{id}}/menu" >Menu</a>
</div>

<div id="place_right_div" >
    {{{place_content_bloc}}}
</div>





