<!DOCTYPE>

<html>

    <head>
        <title>{{name}}</title>
    </head>

    <body>

        <h1>{{name}}</h1>

        <p>Consulter le <a href="/place/{{id}}/menu" >Menu</a></p>

    </body>

</html>