
#place_left_div {
    width: 25%;
    background-color: #F5F5F5;
    box-shadow: #555555 2px 2px 2px;
}

#place_right_div {
    width: 70%;
    background-color: #F5F5F5;
    height: 100%;
    box-shadow: #555555 2px 2px 2px;
}